*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    background: #F2F2F2;
    background-image: url("./images/pattern-background-desktop.svg");
    background-size:100% 437px;
    background-repeat: no-repeat;
}

.card-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 102px auto 50px auto;
    height: 697px;
    width: 450px;
    background-color: white;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    border-radius: 20px;
}

.image img{
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    margin-bottom: 45px;
}

.title{
    font-size: 28px;
    font-weight: 900;
    line-height: 37px;
    color: #1F2E55;
    /* Position */
    margin: 0px 48px 17px 48px;
}

.description{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin: 0 48px 26px 48px;
    color: #717FA6;
}

.plan{
    background-color: #F7F9FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 48px 26px 48px;
    height: 98px;
    width: 354px;
    border-radius: 11px;
    
}


.plan img{
    height: 48px;
    width: 48px;
    padding-left: 2vh;
}

.plane-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.annual-plan{
    font-weight: 900;
    font-size: 16px;
}

.price{
    color: #717FA6;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.change{
    color: #766CF1;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    font-style: normal;
    text-decoration-line:underline;
    margin-left: 10vh;
    margin-right: 2vh;
}
.payment-button{
    display: flex;
    height: 50px;
    width: 354px;
    text-align: center;
    margin: 0px 48px auto 48px;
    background-color: #382AE1;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    border-radius: 11px;
}

.payment-button p{
    font-style: normal;
    margin: auto;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    color: white;
}

.payment-button:hover{
    background-color: #766CF1;
    cursor: pointer;
    transition: .4s;
}

.cancel{
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    color: #717FA6;
    margin-bottom: 48px;
}

.cancel:hover{
    color: #1F2E55;
    cursor: pointer;
    transition: .4s;
}




